h1{
    font-size: 25px !important;
}

.btn-success:hover{
    background-color: red;
}
canvas{
    animation-name: bla;
    animation-duration:4s;
    animation-iteration-count: infinite;
}

@keyframes bla {

    from{box-shadow: 1px 1px 38px rgb(0, 255, 55);}
    to{box-shadow: 1px 1px 38px rgb(0, 132, 255);}
}